.login-box {
  border: 2px solid #a3a3a3;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.country-box {
  border: 2px solid #373737;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.btn-social {
  width: 95%;
  border-radius: 3px;
  margin: 5px;
}

.btn-social-icon {
  color: #ffffff !important;
}

.login-inputs {
  border-radius: 0;
  padding: 10px;
  width: 90%;
}

.login-left {
  border-right: 0.5px solid #a3a3a3;
}

.login-right {
  border-left: 0.5px solid #a3a3a3;
}

.login-btn {
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: large;
}

.sm-social {
  display: inline-block;
}

.lg-social {
  display: none;
}

.navbar-override {
  padding: 0 5rem 0 0;
  border: 1px solid gray;
}

@media (min-width: 1920px) {
  .login-inputs {
    font-size: 160%;
  }

  .login-btn {
    font-size: 160%;
  }

  .sm-social {
    display: none;
  }

  .lg-social {
    display: inline-block;
  }

  .description h4 {
    font-size: 200%;
  }
}

.or {
  color: gray;
  float: left;
  text-align: center;
  position: relative;
  margin: -25% auto 0 49%;
}

.home-logo {
  margin-left: 10%;
}

.country-header {
  padding-left: 0;
  padding-right: 0;
  background-size: 100%;
  height: 300px;
}

.transparent {
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.6);
}

.country-header h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 400%;
  color: #ffffff;
}

#login_form {
  margin-top: 2%;
}

.text-center .nav-item {
  margin: 0 5%;
}

.ml-auto .nav-item {
  margin: 0 7%;
}

.active {
  color: #0275d8 !important;
}

.shift-right {
  margin-left: 29%;
}

/*hovering card code*/
label {
    position: relative;
    top: 200px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        background: #FFF;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .front {
      margin-top: 15px;
    }

    .card .back {
      position: absolute;
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
