.login-box {
  border: 2px solid #a3a3a3;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.policy-box {
  border: 2px solid #a3a3a3;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.policy-box h2 {
  margin-top: 3%;
  margin-bottom: 5%;
}

.policy-box h3 {
  width: 100%;
  text-align: center;
  margin: 6% 0 4% 0;
}

.policy-box h3 span {
  margin-left: 4%;
  color: #5bc0de;
}

.country-box {
  border: 2px solid #373737;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.btn-social {
  width: 95%;
  border-radius: 3px;
  margin: 5px;
}

.btn-social-icon {
  color: #ffffff !important;
}

.login-inputs {
  border-radius: 0;
  padding: 10px;
  width: 90%;
}

.login-left {
  border-right: 0.5px solid #a3a3a3;
}

.login-right {
  border-left: 0.5px solid #a3a3a3;
}

.login-btn {
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: large;
}

.sm-social {
  display: inline-block;
}

.lg-social {
  display: none;
}

.navbar-override {
  padding: 0 5rem 0 0;
  border: 1px solid gray;
}

.country-header {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2%;
  height: 20rem;
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

@media (min-width: 1920px) {
  .country-header {
    height: 25rem;
    background-size: 110%;
  }

  .login-inputs {
    font-size: 160%;
  }

  .login-btn {
    font-size: 160%;
  }

  .sm-social {
    display: none;
  }

  .lg-social {
    display: inline-block;
  }

  .description h4 {
    font-size: 200%;
  }
}

.or {
  color: gray;
  float: left;
  text-align: center;
  position: relative;
  margin: -25% auto 0 49%;
}

.home-logo {
  margin-left: 10%;
}

.transparent {
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.6);
}

.country-header h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 400%;
  color: #ffffff;
}

#login_form {
  margin-top: 2%;
}

.text-center .nav-item {
  margin: 0 5%;
}

.ml-auto .nav-item {
  margin: 0 7%;
}

.active {
  color: #0275d8 !important;
}

.policy-status {
  margin: 4% 2%;
}

.policy-status i {
  margin-right: 4%;
}

.status-icon {
  font-size: 2.5rem;
  width: 40px;
  text-align: center;
  align-self: center!important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3d3d3d;
}

.status-bar {
  width: 80%;
  margin-right: 2%;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
}

.status-filler {
  height: 100%;
  border-radius: 3px;
  background-color: #000000;
  border-right: 1px solid black;
}

.stripe-blue {
  background: repeating-linear-gradient(
    120deg,
    #0275d8,
    #0275d8 10px,
    #0058a5 10px,
    #0058a5 20px
  );
}

.stripe-yellow {
  background: repeating-linear-gradient(
    120deg,
    #f0ad4e,
    #f0ad4e 10px,
    #ba853b 10px,
    #ba853b 20px
  );
}
.stripe-green {
  background: repeating-linear-gradient(
    120deg,
    #5cb85c,
    #5cb85c 10px,
    #3f823f 10px,
    #3f823f 20px
  );
}
.stripe-red {
  background: repeating-linear-gradient(
    120deg,
    #d9534f,
    #d9534f 10px,
    #9b3b37 10px,
    #9b3b37 20px
  );
}

.bs-light-blue {
  color: #5bc0de;
}

.bs-blue {
  color: #0275d8;
}

.bs-yellow {
  color: #f0ad4e;
}

.bs-green {
  color: #5cb85c;
}

.bs-red {
  color: #d9534f;
}

.bs-purple {
  color: #993355
}

.shift-right {
  margin-top: 100px;
  margin-left: 29%;
}

/*hovering card code*/
.flip-box {
  position: relative;
  top: 200px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

  .card div {
    background: #FFF;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  .card .front {
    position: relative;
    margin: auto;
    width: 300px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .front img {
    max-width: 300px;
    max-height: 250px;
    width: auto;
    height: auto;
  }

  .card .back {
    padding-bottom: 20%;
    position: absolute;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

.flip-box:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.flip-box:hover :checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
