{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - About
{% endblock %}

{% block body_block %}

<h1>About</h1>

<div class="offset-md-2 col-md-8 login-box">
  <p>
    <h4> Policy Tracker </h4>
      Policy Tracker is a website created by Benjamin Goodman, Christopher Atkinson, Christopher Watson and James Mushahwar
      for their Web App Develpment course at the University of Glasgow. The idea behind Policy Trackr is to allow citizens
      of a country to add their goverments to account by adding the governments manifesto to Policy Tracker. Once uploaded
      citizens can update these election promises to track their governments progress during their electoral term by marking
      promises broken, completed, in-progress and not yet started.
  </p>
</div>

{% endblock %}
