{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - About
{% endblock %}

{% block body_block %}

<h1>About</h1>

<div class="offset-md-2 col-md-8 login-box">
  <br/>
  <h4> Policy Tracker </h4>
  <p>
      Policy Tracker is a website created by Benjamin Goodman, Christopher Atkinson, Christopher Watson and James Mushahwar
      for their Web App Development course at the University of Glasgow. Policy Tracker was built on the concept of enabling citizens
      of any country to upload their government's manifesto policies and thus, provide easy monitoring of all governmental progress.
      Over the course of a term of office, this will allow citizens to hold their own government accountable to their promises. Once
      a policy has been uploaded, users are able to update the current status of said policy and get an overview of their Government's
      overall progress.
  </p>
</div>

{% endblock %}
