{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - About
{% endblock %}

{% block body_block %}

<div class="offset-md-2 col-md-8 login-box">
  <p>
    <h3>About</h3>
      Policy Tracker is a website created by Benjamin Goodman, Christopher Atkinson, Christopher Watson and James Mushahwar
      for their Web App Development course at the University of Glasgow. The idea behind Policy Tracker is to allow citizens
       of a country to add their government's manifestos and monitor their governments progress, allowing citizens to hold their
       government accountable. Once a promise has been uploaded, citizens can update these election promises to track their governments
       progress during their electoral term by marking promises broken, completed, in-progress and not yet started.
  </p>
</div>

{% endblock %}
