{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact-Us
{% endblock %}

{% block body_block %}

<h1>Contact Us</h1>

<div class="offset-md-2 col-md-8 login-box">

  <h5>Benjamin Goodman - <a href= "mailto:2182969G@student.gla.ac.uk">2182969G@student.gla.ac.uk</a></h5>

  <h5>Christopher Atkinson - <a href= "mailto:2109600A@student.gla.ac.uk">2109600A@student.gla.ac.uk</a></h5>

  <h5>Christopher Watson - <a href= "mailto:2190594W@student.gla.ac.uk">2190594W@student.gla.ac.uk</a></h5>

  <h5>James Mushahwar - <a href= "mailto:2197249M@student.gla.ac.uk">2197249M@student.gla.ac.uk</a></h5>

  <h5> Github - <a href="https://github.com/2190594W/policy-tracker">Policy Tracker</a></h5>

</div>

{% endblock %}
