{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - Countries
{% endblock %}

{% block body_block %}
<div class="container shift-right">
  <div class="row">
    <div class="col-md-12">
      <h1 class=page-header>Countries</h1>
    </div>
    {% if countries %}
      {% for country in countries %}
        <div class="col-md-4">
            <label>
              <input type="checkbox"/>
              <div class="card country-box">
                <div class="front">
                  <img src="{% with country.map_image.url as img_url %}{{ img_url|slice:"-38:"}}
                            {% endwith %}" alt="{{ country.name }} map flag"><br/>
                  <div class="caption">
                    <p>{{ country.name }}</p>
                  </div>
                </div>
                <div class="back align-self-center">
                  {{ country.inPower }} <!--add link to governing body page-->
                  <a href="{{ country.slug }}" style="text-decoration: none">See more...</a>
                </div>
              </div>
            </label>
        </div>
      {% endfor %}
    {% else %}
      <strong>No countries present</strong>
    {% endif %}
 </div>
</div>
{% endblock %}
