{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}
{% load index from policy_tracker_app_template_tags %}

{% block title_block %}
    - Countries
{% endblock %}

{% block body_block %}
<div class="container shift-right">
  <div class="row">
    <div class="col-md-6">
      <h1 class=page-header>Countries</h1>
    </div>
    <div class="col-md-6">
      <!-- allow user to add country -->
      {% if request.user.is_authenticated %}
        <a href="{% url 'add_country' %}" class="btn btn-outline-primary btn-lg" role="button">Add Country</a>
      {% else %}
        <button class="btn btn-outline-primary btn-lg" disabled>Add Country</button>
        <small>You need to login to Add Countries</small>
      {% endif %}
    </div>
    <!-- if a country has been added -->
    {% if countries %}
    <!-- if country present, allow it to be flipped to see policies for country -->
      {% for country in countries %}
        <div class="col-md-4 col-sm-6 col-xs-8">
            <label class="flip-box">
              <input type="checkbox" style="display: none"/>
              <div class="card country-box">
                <div class="front align-self-center">
                  {% if not country.map_image %}
                    <i class="fa fa-globe bs-green"></i>
                  {% else %}
                  <!-- Display flag of country in flipbox -->
                    <img src="{% with country.map_image.url as img_url %}{{ img_url|slice:"-34:"}}
                            {% endwith %}" alt="{{ country.name }} map flag">
                  {% endif %}
                  <div class="caption">
                    <p>{{ country.name }}</p>
                  </div>
                </div>
                <div class="back align-self-center">
                  <i class="fa fa-briefcase status-icon bs-purple"></i><hr/>
                  <h3>Total Policies: <span class="bs-light-blue">{{ policies|index:forloop.counter0|length }}</span></h3><br/>
                  <a href="{{ country.slug }}" class="btn btn-secondary btn-lg" role="button">See more...</a>
                </div>
              </div>
            </label>
        </div>
      {% endfor %}
    {% else %}
    <!-- else inform user no countries are present -->
      <strong>No countries present</strong>
    {% endif %}
 </div>
</div>
{% endblock %}
