{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

	{% block title_block %}
		- Home
	{% endblock %}

	{% block body_block %}
		<div>
        TESTING - You have visited this site {{ visits }} times.
		</div>
		{% if user.is_authenticated %}
			User is authenticated!!
			{{ user.username}}
		{% endif %}
		<br/><br/>

		<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
		<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
		<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
		<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>


	{% endblock %}
