<body>
	<div class="container-fluid navbar-box">
		<div class="col-md-12">
			<div class="row">
				<a class="col-md-2 align-self-center" href="#home"><div>Home</div></a>
				<a class="col-md-2 align-self-center" href="#new"><div>New</div></a>
				<a class="col-md-2 align-self-center" href="#countries"><div>Countries</div></a>
				<a class="col-md-2 align-self-center" href="#about"><div>About</div></a>
				<a class="col-md-2 align-self-center" href="#updates"><div>Updates</div></a>
				<a class="col-md-1 offset-md-1 align-self-center" href="#login"><div>Login</div></a>
			</div>	
		</div>
	</div>
</body>
