{% load staticfiles %}

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded navbar-override">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: 15px;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home' %}" style="padding: 0 1rem; border-right: 1px solid gray; background-color: #ffffff;">
		<img src="{% static '/images/PolicyTrackerNavBar.png' %}" width="150" height="75" class="d-inline-block align-top" alt="">
	</a>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent" style="font-size: 150%;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if nbar == 'countries' %}active{% endif %}" href="{% url 'countries' %}">Countries<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if nbar == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if nbar == 'news' %}active{% endif %}" href="{% url 'news' %}">News</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
			{% if not user.is_authenticated %}
				<li class="nav-item">
	        <a class="nav-link" href="{% url 'login' %}">Login</a>
	      </li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link {% if nbar == 'profile' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
			{% endif %}
		</ul>
  </div>
</nav>
