{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - News
{% endblock %}

{% block body_block %}

<h1>News</h1>

<div class="offset-md-2 col-md-8 login-box">
    <p>
      <h3>Updates</h3>
      <p>
      <h5>Policy Tracker update 0.7 - 24/3/17</h5>
      Admins can now add countries to the countries page via the admin interface!
    </p>
    <p>
      <h5>Policy Tracker update 0.6 - 23/3/17</h5>
      The Navigation bar has been added to the Policy Tracker allowing users to use the website more intuitively.
    </p>
    <p>
      <h5>Policy Tracker update 0.5 - 23/3/17</h5>
      The following Pages have been added, Contact us, About and News.
    </p>
    <p>
      <h5>Policy Tracker update 0.45 - 22/3/17</h5>
      Users passwords are now authenticated twice to ensure the password has been typed correctly while ensuring it is not a simple password.
    </p>
    <p>
      <h5>Policy Tracker update 0.40 - 22/3/17</h5>
      Users can now create an account, allowing them to create a username and password with the option of adding a profile picture and website.
    </p>
    <p>
      <h5>Policy Tracker update 0.3 - 21/3/17</h5>
      Users can now sign in via Facebook, Twitter, Google and Github.
    </p>
    </p>
</div>

{% endblock %}
