{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
  - Profile Settings
{% endblock %}

{% block body_block %}
<div class="container-fluid">
  <div class="col-md-12 profile-settings">
    <h2>Profile Settings</h2>
    <br/>
    <a class="btn btn-primary" href="{% url 'profile_password' %}">Change Password</a>
    <br/><br/>
    <h3>Google</h3>
    {% if google_login %}
      <p>Connected as {{ google_login.uid }}</p>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
          {% csrf_token %}
          <button class="btn btn-outline-danger" type="submit" style="cursor: pointer">Disconnect from Google</button>
        </form>
        <br/>
      {% else %}
        <button class="btn btn-outline-secondary" type="button" disabled>Disconnect from Google</button>
        <br/><br/>
        <p style="color: red">You must <a href="{% url 'profile_password' %}">define a password</a> for your account before disconnecting from Google.</p>
      {% endif %}
    {% else %}
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-social btn-google" width="20%">
        <span class="fa fa-google"></span>Sign in with Google</a><br><br>
    {% endif %}

    <h3>Facebook</h3>
    {% if facebook_login %}
      <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
          {% csrf_token %}
          <button class="btn btn-outline-danger" type="submit" style="cursor: pointer">Disconnect from Facebook</button>
        </form>
        <br/>
      {% else %}
        <button class="btn btn-outline-secondary" type="button" disabled>Disconnect from Facebook</button>
        <br/><br/>
        <p style="color: red">You must <a href="{% url 'profile_password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
      {% endif %}
    {% else %}
      <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-social btn-facebook" width="20%">
        <span class="fa fa-facebook"></span>Login with Facebook</a><br><br>
    {% endif %}

    <h3>Twitter</h3>
    {% if twitter_login %}
      <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
          {% csrf_token %}
          <button class="btn btn-outline-danger" type="submit" style="cursor: pointer">Disconnect from Twitter</button>
        </form>
        <br/>
      {% else %}
        <button class="btn btn-outline-secondary" type="button" disabled>Disconnect from Twitter</button>
        <br/><br/>
        <p style="color: red">You must <a href="{% url 'profile_password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
      {% endif %}
    {% else %}
      <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social btn-twitter" width="20%">
        <span class="fa fa-twitter"></span>Login with Twitter</a><br><br>
    {% endif %}

    <h3>GitHub</h3>
    {% if github_login %}
      <p>Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
      {% if can_disconnect %}
        <form method="post" action="{% url 'social:disconnect' 'github' %}">
          {% csrf_token %}
          <button class="btn btn-outline-danger" type="submit" style="cursor:pointer;">Disconnect from GitHub</button>
        </form>
        <br/>
      {% else %}
        <button class="btn btn-outline-secondary" type="button" disabled>Disconnect from GitHub</button>
        <br/><br/>
        <p style="color: red">You must <a href="{% url 'profile_password' %}">define a password</a> for your account before disconnecting from Github.</p>
      {% endif %}
    {% else %}
      <a href="{% url 'social:begin' 'github' %}" class="btn btn-social btn-github" width="20%">
        <span class="fa fa-github"></span>Login with GitHub</a><br><br>
    {% endif %}
  </div>
</div>
{% endblock %}
