{% extends 'policy_tracker/base.html' %}
{% load staticfiles %}

{% block title_block %}
  - Profile Password
{% endblock %}

{% block body_block %}
  <h2>Change Password</h2>
  <!-- if user has not created a password inform them tht they have not -->
  {% if not user.has_usable_password %}
    <p style="color: red">You have not defined a password yet.</p>
  {% endif %}
  <!-- Dipplay the requirement for the users new password and allow them to set it -->
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
{% endblock %}
